.header-area {
  top:0;
  display: flex;
  height: 60px;
  width: 360px;

  .logo{
    margin: 10px auto;
    width: 120px;
    height: 40px;
    background-color: #D9D9D9;
  }
  .logo:hover{
    background-color: lightgrey;
  }
}
.header-tabs{
  justify-content:center;
  display:flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0px 20px;

  button{
    width: 70px;
    height: 30px;
    font-size: 12px;
    color: #999;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    transition: all 0.2s ease-in-out;
  }
  button.active{
    background-color: #e3e3e3;
    color: #000;
    font-weight: 600;
  }
}

.home-container{
  margin: 20px 20px;
  display:flexbox;

  .inline-split {
    justify-content: space-between;
    display:flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;

    .half {
      flex: 1;
      width: calc(50% - 8px);
      box-sizing: border-box; 
    }
  }
  .round-card {
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 0px 10px;
    &.small {
      height: 80px;
    }
    &.large {
      height: 117px;
      h2 { padding-top: 27px; margin-bottom: 0px;}
    }
  }

  .recommend-box {
    margin-top: 16px;
    height: 585px;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 10px 10px;
  }

}

.item-line{
  display: inline-flex;
  margin-bottom: 20px;
  .item-box{
    div{
      width: 16px;
      height: 16px;
      color: black;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      background-color: white;
      border-color: white;
      border-top-left-radius: 8px; 
      border-bottom-right-radius: 8px;  
      position: absolute;
    }
    .img{
      width: 72px;
      height: 72px;
      border-radius: 8px;
      background-color: #D9D9D9;
      position: relative;
    }
  }
  .item-context{
    margin-left: 12px;
  }
}

.item-line-full-two{
  display: inline-block;
  width: calc(50% - 10px);
  vertical-align: top;
  padding-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;

  .box{
    width: 138px;
    height: 120px;
    background-color: #D9D9D9;
    border-radius: 8px;  
    position: relative;
  }
  .info_place{
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
  }
  .info_name{
    font-size: 14px;
    font-weight: 700;
    margin-top: 2px;
  }
  .score_review_line{
    display: inline-flex;
    margin-top: 8px;
  }
  .info_reviews{
    color: #888888;
    font-size: 10px;
    font-weight: 400;
    margin-right: 12px;
  }
}

.banner-paging{
  display: flex;
  float: right;
  padding-right: 15px;
  padding-top: 35px;
  .paging-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 48px;
    height: 24px;
    padding: auto auto;
    background-color: rgba(#000,0.5);
    border-radius: 100px;
    box-shadow: #888888;
    span{
      font-size: 12px;
      font-weight: 700;
      color: #888888;
    }
    .current{
      color: #fff;
    }
  }
}



.banner-box {
  background-color: #D9D9D9;
  height: 170px;
  display: flexbox;
  text-align: center;
  h3{
    margin: auto 0px;
    padding-top: 20%;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
  }
}


.foot-info{
  margin-top: 50px;
  padding: 20px;
  height: 200px;
  background-color: #F5F5F5;
  font-size: 10px;
  color: #555555;

  .foot-logo{
    background-color: #D9D9D9;
    width: 80px;
    height: 24px;
    margin-bottom: 15px;
  }
  .bar{
    color: #D9D9D9;
    font-weight: 800;
    margin: 0px 5px;
  }
}

.gnb-box{
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid gray;
  height: 66px;
  min-width: 360px;
  display: inline-flex;

  .menu-item {
    display: flexbox;
    justify-content: space-between;
    padding: 10px 20px;
    .icon{
      display: flex;
      width: 30px;
      height: 30px;
      background-color: #D9D9D9;
    }
  }
}

.pointer{
  cursor: pointer;
}

.title_type_A{
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}